/*
*************
*****  PRIMARY
**********
*/
.hbtn-primary{
    background-color: var(--h-white-100);
    border: 1px solid var(--h-black-100);
    border-radius: 6px;
    color: var(--h-black-100);
    font-weight: 500;
    align-items: center;
}
.hbtn-primary > img{
    filter:invert(11%) sepia(11%) saturate(40%) hue-rotate(335deg) brightness(55%) contrast(118%)
}
.hbtn-primary span{
    color: var(--h-black-100);
}

.hbtn-primary:focus,
.primary-active,
.hbtn-primary:hover{
    background-color: var(--h-white-100);
    border: 1px solid var(--h-green-700);
    color: var(--h-green-700);
    font-weight: 500;
    text-decoration: none;
}
.primary-active img,
.hbtn-primary:hover img{
    filter: invert(41%) sepia(70%) saturate(352%) hue-rotate(116deg) brightness(94%) contrast(96%);
}
.primary-active > span,
.hbtn-primary:hover > span{
    color: var(--h-green-700);
}

.primary-disabled,
.hbtn-primary:disabled,
.primary-disabled:hover{
    background-color: var(--h-white-100);
    border: 1px solid var(--h-gray-300);
    color: var(--h-gray-500);
    font-weight: 500;
}
.primary-disabled > span,
.primary-disabled:hover > span{
    color: var(--h-gray-500);
}

.hbtn-blur:hover {
    background: var(--th-bg-blur-hovered, rgba(255, 255, 255, 0.20));
}
/*
*************
*****  secondary
**********
*/
.hbtn-secondary{
    background-color: var(--h-white-100);
    border: 1px solid var(--h-gray-400);
    border-radius: 6px;
    color: var(--h-black-100);
    font-weight: 500;
    display: flex;
    align-items: center;
}
.hbtn-secondary:hover{
    background-color: var(--h-white-100);
    border: 1px solid var(--h-green-600);
    color: var(--h-green-600);
    font-weight: 500;
    text-decoration: none;
}
.secondary-active,
.hbtn-secondary:active{
    background-color: var(--h-green-200);
    border: 1px solid var(--h-green-700);
    color: var(--h-green-600);
}
.hbtn-secondary:hover > img{
    filter: invert(41%) sepia(70%) saturate(352%) hue-rotate(116deg) brightness(94%) contrast(96%);
}

.secondary-disabled,
.secondary-disabled:hover,
.secondary-disabled:focus{
    background-color: var(--h-black-200);
    border: 1px solid var(--h-black-200);
    color: var(--h-white-100);
    font-weight: 500;
}

.hbtn-green{
    background-color: var(--h-green-600);
    border-radius: 6px;
}
.hbtn-green:hover{
    background-color: var(--h-green-700);
}

/*
*************
*****  CTA
**********
*/
.hbtn-cta{
    background-color: var(--h-yellow) !important;
    border-radius: 6px;
    color: var(--h-black-100);
    font-weight: 500;
}
.hbtn-cta:active {
    background-color: #EBC44C !important;
    font-weight: 500;
}
@media (hover: hover) {
    .hbtn-cta:hover {
        background-color: #EBC44C !important;
        font-weight: 500;
    }
}

.cta-disabled,
.hbtn-cta:disabled,
.cta-disabled:hover{
    background-color: var(--h-gray-300) !important;
    color: var(--h-gray-500);
    font-weight: 500;
}

/*
*************
*****  PLAIN
**********
*/
.hbtn-tertiary{
    color: var(--h-black-100);
    align-items: center;
}
.hbtn-tertiary:disabled, .hbtn-tertiary:disabled:hover{
    color: var(--h-gray-300);
}
.hbtn-tertiary:hover{
    color: var(--h-black-200);
}

.plain, .plain:hover, .plain:disabled {
    border: none;
}

/*
*************
*****  CHIPS
**********
*/

.chip-primary{
    background-color: var(--h-white-100);
    border: 1px solid var(--h-black-100);
    border-radius: 6px;
    color: var(--h-black-100);
    font-weight: 500;
}

.chip-primary:hover{
    background-color: var(--h-white-100);
    border: 1px solid var(--h-green-600);
    color: var(--h-green-600);
    font-weight: 500;
}
.chip-primary:hover{
    color: var(--h-green-600);
}

.chip-primary:active,
.chip-primary-active{
    background-color: var(--h-green-200);
    border: 1px solid var(--h-green-700);
    color: var(--h-green-600);
    font-weight: 500;
}

.chip-primary-disabled,
.chip-primary-disabled:hover{
    background-color: var(--h-white-100);
    border: 1px solid var(--h-gray-300);
    color: var(--h-gray-500);
    font-weight: 500;
}

.chip-primary:hover > .chip-primary-icon{
    filter: invert(49%) sepia(47%) saturate(547%) hue-rotate(117deg) brightness(105%) contrast(87%);
}
/*
*************
*****  TAGS
**********
*/
.status-tag{    
    box-sizing: border-box;
    padding: 2px;
    /* height: 13px; */
    background: #FFFFFF;
    border: 0.5px solid #34A98F;
    border-radius: 3px;
    font-size: 10px;
    line-height: 9px;
}
.success-tag{    
    border: 0.5px solid var(--h-green-600);
    color: var(--h-green-800);
}
.danger-tag{    
    border: 0.5px solid var(--alert-negative);
    color: var(--alert-negative);
}
/*
TH TAG CARD
*/
.th-tag-card{
    color: var(--h-gray-500);
}
.th-tag-card-red{
    background-color: #FFF0F0;
}
.th-tag-card-green{
    background-color: #D9E8F2;
}
.th-tag-card-yellow{
    background-color: #F5F5DC;
}
