html, body,
h1,h2,h3,h4,h5,h6,
p{
    margin: 0;
    padding: 0;
}
*> :not(i){
  font-family: 'Montserrat', sans-serif;
}
p,a{
    font-family: 'Montserrat', sans-serif !important;
}
@import './hoster-colors';
@import './hoster-buttons';

@media (min-width:1441px) {
  .container-fluid-landing{
      max-width: 1280px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin: auto !important;
  }
}