input[type=radio]:hover {
    background-color: var(--h-green-200);
}

.hinput-primary::placeholder{
    color: var(--Text-disabled);
}

.hinput-primary:focus{
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.hinput-error{
    border: 1px solid #FF6666;
    color: #FF6666;
}