

/* *> :not(i){
    
  }

  p,a{
      
  } */

body {
    font-size: 16px;
 }
 a:hover {
     text-decoration: none;
 }

 a:active,
 a:hover,
 a:focus {
     outline: 0 none;
     text-decoration: none
 }
 input,button:focus {
    outline: none;
  }

input:focus{
    --tw-ring-inset: none !important;
    --tw-ring-color: none !important;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* textarea */
textarea::-webkit-scrollbar{
    width: 0.45rem;
    -webkit-appearance: none;
  }
  textarea::-webkit-scrollbar-thumb{
    background-color: #BFBFBF;
    border-radius: 1000px;
  }
  textarea::-webkit-scrollbar-track{
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 4px;
  }
  textarea:focus{
    border: 1px solid #A0A0A0;
  }

 /* h4 a:hover {
     color: #31516B;
 } */
 
 ul {
     list-style: outside none none;
     margin: 0;
     padding: 0
 }

 